*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background: #212123;
    --container-background: #171717;
    --container-background-2: #1e1e2c; /*2c2c37*/
    --container-border-1: #727272;
    --lines: #00ff37;
    --hovered-element: #39c559;
    --blocked-element: #ff8800;
    --clickable-element: #397aff;
    --active-element: #326efcff;
    --internal-link-element: #008CFF;
    --darkened-text: #b2b2b2;
    --variable-color: #00afff;
}

body {
    background: var(--background);
    margin: 0;
    height: 100vh;
}

.svg__list {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.section__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    height: 37px;
    border-bottom: 2px solid var(--lines);
    background: var(--container-background);
}

.field__default {
    display: flex;
    flex-direction: column;
    background: var(--container-background);
    color: #ffffff;
    padding: 20px;
}

.field__scrollable {
    overflow-y: auto;
    max-height: calc(100vh - 92px);
}

.field__full {
    height: calc(100vh - 92px);
}

.header__field {
    display: flex;
    flex-grow: 1;
}
.header__button__app {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.menu__button {
    position: relative;
    display: none;
}
.menu__bar {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
}

.header__items {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 29px;
    font-family: sans-serif;
    margin: 0 5%;
}
.header__item {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
}
.link_active svg {
    fill: var(--lines);
}
.header__item div {
    margin-left: 30px;
}
.header__dropdown__close {
    display: none;
}

.section__main {
    margin: 35px 20px 20px 20px;
}

.faq__list {
    display: flex;
    flex-direction: column;
    color: #e4e4e4;
    gap: 30px;
}

.description__item {
    border-left: 1px solid #fff;
    padding: 10px 10px 10px 20px;
    background: var(--container-background);
}

.description__header {
    font-family: sans-serif;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.cell__error {
    color: #ff3a75;
}

.line-1 {
    width: calc(100% - 40px);
    height: 1px;
    background: #ececec;
    margin-left: 20px;
}

.svg__header {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    fill: #fff;
    display: none;
}
.svg__pwa {
    width: 30px;
    height: 20px;
    fill: #fff;
    margin: 0 15px 0 10px;
    z-index: 1;
}
.svg__cross {
    width: 30px;
    height: 20px;
    fill: #fff;
    z-index: 2;
}
.svg__trash_can {
    width: 50px;
    height: 25px;
    fill: var(--container-border-1);
    margin: 0 10px;
    cursor: pointer;
}
.svg__trash_can:hover {
    fill: #ff3737;
}

.span__default {
    display: flex;
    width: 100%;
    height: 1px;
    margin-bottom: 12px;
    background: linear-gradient(to left, rgba(255, 99, 71, 0) 0%, rgb(27 198 255) 50%, rgba(255, 99, 71, 0) 100%);
}

.area__chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field__ise {
    display: flex;
    justify-content: center;
}
.ise_description {
    color: #fff;
    background: #161616;
    padding: 20px;
    border: 1px solid var(--container-border-1);
}

.field__chart { /* настраивать max-heiht в vh для частных случаев */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    /* aspect-ratio: 2 / 1; */
}

.chart__tooltip {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.tooltip__item {
    background-color: #222 !important;
    color: #fff;
    padding: 2px 4px;
    margin: 0;
    border-radius: 3px;
}

.param__status_off {
    color: #ff3a75;
}
.param__status_on {
    color: #00ff37;
}
.param__status_unsaved {
    color: #ffe900 !important;
}

.link__default {
    color: var(--internal-link-element);
    text-decoration: none;
}

/*buttons*/
.button__remove, .button__save, .button__save_1, .button__cancle, .button__change {
    display: flex;
    justify-content: center;
    width: 60px;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
.button__remove {
    color: #ff3a75;
}
.button__remove:hover {
    box-shadow: 0 0 0 2px rgb(255, 58, 117), 0 2px 4px rgba(255, 58, 117, 0.3), 0 4px 8px rgba(255, 58, 117, 0.3), 0 0 16px rgb(255, 58, 117);
}
.button__change {
    color: #008cff;
}
.button__change:hover {
    box-shadow: 0 0 0 2px rgb(0, 140, 255), 0 2px 4px rgba(0, 140, 255, 0.3), 0 4px 8px rgba(0, 140, 255, 0.3), 0 0 16px rgb(0, 140, 255);
}
.button__save, .button__save_1 {
    color: var(--lines);
    background: none;
}
.button__save:hover, .button__save_1:hover {
    box-shadow: 0 0 0 2px rgb(0, 255, 55), 0 2px 4px rgba(0, 255, 55, 0.3), 0 4px 8px rgba(0, 255, 55, 0.3), 0 0 16px rgb(0, 255, 55);
}
.button__cancle:hover {
   box-shadow: 0 0 0 2px rgb(228, 228, 228), 0 2px 4px rgba(228, 228, 228, 0.3), 0 4px 8px rgba(228, 228, 228, 0.3), 0 0 16px rgb(228, 228, 228);
}

/* select-option */
.select__default {
    background: #12121bff;
    border: 1px solid #4a4a4a;
    color: #fff;
    border-radius: 2px;
    padding: 2px 0 2px 2px;
    width: fit-content;
}
.option__default {
    background: #12121bff;
    border: 1px solid #4a4a4a;
    color: #fff;
}

/* input, textarea */
.input__default {
    background: none;
    border: 1px solid var(--container-border-1);
    font-size: 16px;
    max-width: 150px;
    font-family: sans-serif;
    color: #fff;
    border-radius: 3px;
}
.textarea__default {
    background: none;
    border: 1px solid var(--container-border-1);
    font-size: 16px;
    font-family: sans-serif;
    max-width: 100%;
    color: #fff;
    border-radius: 3px;
    resize: vertical;
}

/*loading effect*/
.loading__center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.loading__spinner {
    animation: rotate 2s linear infinite;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
}
.spinner__stroke {
    stroke: url(#gradient);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    stroke-width: 2px;
    fill: none;
}

#menu__toggle{
    display: none;
}

.svg__save_to_db {
    fill: var(--lines);
    width: 25px;
    height: 25px;
}

@keyframes rotate {
    100% {
        transform:rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@media (max-width: 768px){
    #menu__toggle:checked ~ .header__items {
        overflow: auto;
        transform: translateX(0);
        opacity: 1;
    }
    #menu__toggle:checked ~ body {
        overflow: hidden;
    }
    .menu__button {
        display: block;
        user-select: none;
    }
    .svg__header {
        display: block;
    }
    .header__dropdown__close {
        display: flex;
        position: absolute;
        right: 0;
        top: 8px;
        left: 0;
        border-bottom: 2px solid var(--internal-link-element);
        padding-bottom: 7px;
        justify-content: flex-end;
    }
    .header__items {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        background: #0f0f13;
        z-index: 2;
        height: 100vh;
        margin: 0;
        gap: 10px;
        padding: 37px 0 40px 0;
        transform: translateX(-100%);
        transition: 0.7s ease, opacity 0.4s ease;
        opacity: 0;
    }
    .header__item {
        flex-grow: 0;
        border-bottom: 1px solid var(--darkened-text);
        width: 100%;
        justify-content: flex-start;
        height: auto;
        padding: 4px 20px;
    }
    .header__item:nth-child(2) {
        margin-top: 10px;
    }
    .section__main {
        margin: 20px 10px 20px 10px;
    }
    .field__scrollable {
        max-height: calc(100vh - 77px);
    }
    .header__field {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .line-1 {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .section__main {
        margin: 20px 0 20px 0;
    }
     .field__scrollable {
        max-height: calc(100vh - 77px);
    }
    .field__chart {
        margin: 0;
    }
}
