*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background: #212123;
    --container-background: #171717;
    --container-background-2: #1e1e2c; /*2c2c37*/
    --container-border-1: #727272;
    --lines: #00ff37;
    --hovered-element: #39c559;
    --blocked-element: #ff8800;
    --clickable-element: #397aff;
    --active-element: #326efcff;
    --active-element-background: #1f2939ff;
}

body {
    background: var(--background);
    margin: 0;
}

.svg__list {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.section__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    max-height: 60px;
    border-bottom: 2px solid var(--lines);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--container-background);
}

.header__field {
    display: flex;
    flex-grow: 1;
}
.header__button__app {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header__items {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 29px;
    font-family: sans-serif;
    margin: 0 5%;
}

.header__item {
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    z-index: 1;
}

.section__main {
    margin: 70px 20px 20px 20px;
}

.faq__list {
    display: flex;
    flex-direction: column;
    color: #e4e4e4;
    gap: 30px;
}

.description__item {
    border-left: 1px solid #fff;
    padding: 10px 10px 10px 20px;
    background: var(--container-background);
}

.description__header {
    font-family: sans-serif;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.cell__error {
    color: #ff3a75;
}

.line-1 {
    width: calc(100% - 40px);
    height: 1px;
    background: #ececec;
    margin-left: 20px;
}

.svg__translator {
    width: 30px;
    height: 20px;
    fill: #fff;
    margin: 0 15px 0 10px;
    z-index: 1;
}

.area__chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field__ise {
    display: flex;
    justify-content: center;
}
.ise_description {
    color: #fff;
    background: #161616;
    padding: 20px;
    border: 1px solid var(--container-border-1);
}

.field__chart { /* настраивать max-heiht в vh для частных случаев */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    /* aspect-ratio: 2 / 1; */
}

.param__status_off {
    color: #ff3a75;
}
.param__status_on {
    color: #00ff37;
}
.param__status_unsaved {
    color: #ffe900 !important;
}

/*buttons*/
.button__remove, .button__save, .button__cancle, .button__change {
    display: flex;
    justify-content: center;
    width: 60px;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
.button__remove {
    color: #ff3a75;
}
.button__remove:hover {
    box-shadow: 0 0 0 2px rgb(255, 58, 117), 0 2px 4px rgba(255, 58, 117, 0.3), 0 4px 8px rgba(255, 58, 117, 0.3), 0 0 16px rgb(255, 58, 117);
}
.button__change {
    color: #008cff;
}
.button__change:hover {
    box-shadow: 0 0 0 2px rgb(0, 140, 255), 0 2px 4px rgba(0, 140, 255, 0.3), 0 4px 8px rgba(0, 140, 255, 0.3), 0 0 16px rgb(0, 140, 255);
}
.button__save {
    color: var(--lines);
}
.button__save:hover {
    box-shadow: 0 0 0 2px rgb(0, 255, 55), 0 2px 4px rgba(0, 255, 55, 0.3), 0 4px 8px rgba(0, 255, 55, 0.3), 0 0 16px rgb(0, 255, 55);
}
.button__cancle:hover {
   box-shadow: 0 0 0 2px rgb(228, 228, 228), 0 2px 4px rgba(228, 228, 228, 0.3), 0 4px 8px rgba(228, 228, 228, 0.3), 0 0 16px rgb(228, 228, 228);
}

/*loading effect*/
.loading__center {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 36px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.loading__spinner {
    animation: rotate 2s linear infinite;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
}
.spinner__stroke {
    stroke: url(#gradient);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    stroke-width: 2px;
    fill: none;
}

@keyframes rotate {
    100% {
        transform:rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@media (max-width: 768px){
    .section__main {
        margin: 56px 10px 20px 10px;
    }
    .header__field {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .line-1 {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .section__main {
        margin: 56px 0 20px 0;
    }
    .field__chart {
        margin: 0;
    }
}
