
/* input field */

.formula__input {
    color: #fff;
}
#cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background: #ffffff;
    color: #ffffff00;
    animation: blink 2.3s infinite;
}

#keyboard_depth_2 {

}

#keyboard_depth_3 {
    display: none;
}

.latex-expression[data-empty="true"] {
  opacity: 0;
}

.latex-expression[data-empty="false"] {
  opacity: 1;
}
/* keyboard */

.formula__keyboard {
    /*background: var(--container-background);*/
    background: #141414;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0 10px 0;
}

.keyboard__labels {
    display: flex;
    padding: 0 20px;
}

.labels__before, .labels__right {
    cursor: pointer;
    user-select: none;
}

.labels__list {
    display: flex;
    column-gap: 30px;
    margin: 0 10px 10px 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.label__item {
    font-family: sans-serif;
    cursor: pointer;
    user-select: none;
    text-wrap-mode: nowrap;
    padding: 0 4px;
}

.label__item:hover {
    color: var(--lines);
}

.choosed_label {
    color: var(--active-element) !important;
    border-bottom: 2px solid;
    cursor: default;
}

.keyboard__choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 40vh;
}

.keaboard__input__area {
    display: flex;
    gap: 12px;
    margin: 2px 20px 20px 20px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}

.previous_level, .current_currency_3 {
    background: #2a2a2a;
    border: 1px solid var(--active-element);
    text-wrap-mode: nowrap;
    display: flex;
    align-items: center;
    padding: 5px 9px;
    border-radius: 2px;
    cursor: pointer;
    height: 31px;
}

.current_currency_3 {

}

.keayboard__input__field {
    position: relative;
    width: 100%;
}

/* статическая(базовая) клавиатура*/

.basic_keyboard__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basic_keyboard__row {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.basic_keyboard__item {
    background: #1f2022;
    height: 42px;
    max-width: 92px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

.sep-1 {
    all: initial;
    height: 42px;
}

.row_button {
    display: flex;
    align-items: center;
}

.button__sqrt {
    margin-top: 4px;
}

.module-left, .module-right {
    width: 2px;
    height: 20px;
    background: #fff;
}
.module-left {
    margin-right: 1px;
}
.module-right {
    margin-left: 1px;
}

.fraction {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.span {
    width: 10px;
    height: 1px;
    background: #fff;
    margin: -2px 0;
}

.square {
    font-size: 15px;
}

.selected_element {
    width: 8px;
    font-size: 6px;
    background: #2070bb;
    color: #2070bb;
    margin-bottom: 4px;
}
.selected_element_v2 {
    width: 12px;
    height: 12px;
    background: #2070bb;
    color: #2070bb;
    margin: 2px 0 2px 4px;
}
.selected_element_v3 {
    width: 12px;
    height: 12px;
    background: #2070bb;
    color: #2070bb;
}
.button_rank {
    margin: 0 0 18px 2px;
    font-size: 16px;
}

.backspace {
    max-width: calc(92px * 2 + 8px); /* basic_keyboard__item max-width * 2 + gap(8px) */
    width: calc(100% * 2 + 8px + 42px); /* basic_keyboard__item width * 2 + gap(8px) + sep-1 width(42px)*/
    justify-content: flex-end;
    flex-direction: row;
}
.backspace__item {
    padding-right: 5px;
}

.backspace, .swap-left, .swap-right {
    background: #3e3e41;
}

.basic_keyboard__list, .dynamic_keyboard__list {
    padding: 0 20px;
}

/* динамическая клавиатура */

.cross_field {
    position: absolute;
    top: 2px;
    right: 0;
    padding: 7px 10px;
    cursor: pointer;
}

.keyboard__input__cross {
    background: var(--active-element);
    width: 16px;
    height: 16px;
    clip-path: polygon(25% 5%, 5% 25%, 35% 50%, 5% 75%, 25% 95%, 50% 65%, 75% 95%, 95% 75%, 65% 50%, 95% 25%, 75% 5%, 50% 35%);
}

.keyboard__input__loading {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard__input__loading svg {
    width: 23px;
    height: 23px;
}

.keyboard__input__loading svg circle {
    stroke-width: 4px;
}

.keyboard__input__rollback {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 22px;
    height: 22px;
    fill: var(--active-element);
    cursor: pointer;
}

.keyboard__input__lupa {
    position: absolute;
    left: 4px;
    top: 5px;
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--active-element);
    stroke-width: 2px;
    pointer-events: none;
}

.keyboard__search_field {
    width: -webkit-fill-available;
    padding: 4px 29px;
    font-family: sans-serif;
    font-size: 18px;
    border: 1px solid var(--active-element);
    background: #2a2a2a;
    color: #fff;
    border-radius: 2px;
    height: 31px;
}
.keyboard__search_field:active {
    box-shadow: none;
}

.dynamic_keyboard__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.dynamic_keyboard__item {
    background: #2c2c2d;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.dynamic_keyboard__no_results {
    margin-top: 5px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 768px) {
    .labels__before, .labels__right {
        display: none;
    }
    .labels__list {
        overflow-x: auto;
        margin: 0 0 10px 0;
    }

    .basic_keyboard__row, .basic_keyboard__list {
        gap: 2px;
    }
    .backspace {
        max-width: calc(92px * 2 + 2px);
        width: calc(100% * 2 + 2px + 42px);
    }
    .button_rank {
        font-size: 12px;
    }
}

@media (max-width: 560px) {
    .keaboard__input__area {
        flex-wrap: wrap;
        justify-content: space-between;
        width: -webkit-fill-available;
        max-width: initial;
    }
}

@media (max-width: 500px) {
    .basic_keyboard__item {
        font-size: 15px;
    }
    .module-left, .module-right {
        width: 1px;
        height: 14px;
    }
    .button_rank {
        margin: 0 0 14px 0;
    }
    .selected_element_v2 {
        width: 9px;
        height: 9px;
        margin: 2px 0 2px 2px;
    }
    .selected_element_v3 {
        width: 9px;
        height: 9px;
    }
}
