

.field__settings__api {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--container-background);
    color: #ffffff;
    padding: 20px;
}

.api__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.api__item {
    display: flex;
    column-gap: 20px;
}
.api__item > div {
    display: flex;
    justify-content: center;
}
.api__availability {
    width: 62px;
}
.api__history {
    width: 50px;
}
.api__endpoint {
    width: 100px;
}
.api__cooldown {
    width: 150px;
}
.api__last_update {
    width: 120px;
}

.api-actual {
    color: var(--hovered-element);
}
.api-unactual {
    color: #d63030;
}

.input__api__cooldown, .api__cooldown {
    width: 145px;
}
.input__api__cooldown {
    background: #ffffff00;
    color: #fff;
    border: 1px solid #ffffff75;
    border-radius: 2px;
}

.api__settings {
    display: flex;
    justify-content: space-between;
    direction: rtl;
}
#api__checkbox, #api__save, #api__cancle {
    display: none;
}
#api__checkbox:checked ~ #api__change {
  display: none;
}
#api__checkbox:checked ~ #api__cancle, #api__checkbox:checked ~ #api__save {
  display: flex;
}

@media (max-width: 630px) {
    .api__item {
        column-gap: 0;
    }
    .api__availability {
        display: none !important;
    }
    .endpoint-actual {
        color: var(--hovered-element);
    }
    .endpoint-unactual {
        color: #d63030;
    }
}
