
.field__new_formula {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: var(--container-background);
    padding: 20px;
    border-radius: 4px;
    max-height: calc(100vh - 255px - 90px);
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.container__new_formula {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    width: 100%;
}
.condition__container {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--container-border-1);
}

.formula__changes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field__new_formula_errors {
    width: 100%;
}

/* Strategies */
.strategies__list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.strategy__blank {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: -45%;
}
.strategy__not_established {
    font-size: 35px;
    border: 2px solid;
    padding: 6px 12px;
    border-radius: 9px;
    opacity: 0.15;
    -webkit-user-select: none;
    user-select: none;
}

.strategy__item, .strategy__field {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: #fff;
    background: var(--container-background);
    padding: 15px;
    border-radius: 4px;
    min-height: 242px;
    max-width: 100%;
}
.strategy__item {
    max-width: 450px;
    height: 340px;
}

.strategy__item__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.strategy__weight {
    color: var(--blocked-element);
    margin-right: 30px;
}

.strategy__name__blocked {
    color: #fff;
}
.strategy__name {
    z-index: 1;
    text-decoration: none;
    color: #fff;
}
.strategy__name:hover {
    color: var(--clickable-element);
}
.strategy__name:focus {
    color: var(--blocked-element);
}

.strategy__name__input {
    background: none;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    padding: 0 3px;
    color: #fff;
    font-size: 1em;
    max-width: 200px;
    width: 100%;
}

.strategy__description {

}
.strategy__description__textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    color: #fff;
    width: 100%;
    resize: vertical;
    min-height: 30px;
}

.strategy__info {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.strategy__info__item {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    flex-wrap: wrap;
    align-items: center;
}

.input__strategy__cooldown {
    border-radius: 2px;
    padding: 4px 0 4px 4px;
    background: #c4c4c40b;
    border: 1px solid #4a4a4a;
    color: #fff;
}

.chart__strategy_history {
    max-width: 1000px;
    max-height: 500px;
    height: fit-content;
}

.chart_additional_data {
    position: absolute;
    bottom: 15px;
    left: -40px;
    width: 40px;
    height: 40px;
    fill: var(--active-element);
    cursor: pointer;
}

.strategy__manipulations {
    display: flex;
    justify-content: space-between;
}

#btn-save, #btn-cancle, #strategy__checkbox {
    display: none;
}
#strategy__checkbox:checked ~ .button__remove, #strategy__checkbox:checked ~ .button__change {
  display: none;
}
#strategy__checkbox:checked ~ .button__cancle, #strategy__checkbox:checked ~ .button__save_1 {
  display: flex;
}

.strategy__create {
    display: flex;
    align-items: center;
    width: auto;
}

/* zipline */
.checkbox_zipline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zipline {
    position: absolute;
    width: 70%;
    height: 10px;
    background: #5e5e5e;
    border-radius: 5px;
    z-index: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 12px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 6px;
    bottom: 4px;
    background-color: #000;
    transition: 0.4s;
    z-index: 1;
}

.checkbox_zipline input:checked + .slider:before {
    transform: translateX(19px);
}

/* variables */
.field__variables {
    gap: 20px;
}

.variables__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.variables__list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.variable__item {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.variable__header {
    display: flex;
    gap: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.variable__symbol {
    text-decoration: none;
    color: var(--variable-color);
    border-bottom: 2px solid var(--container-border-1);
    width: 100px;
}
.variable__formula__symbol {
    border-bottom: 2px solid var(--container-border-1);
    width: 100px;
    direction: rtl;
}
.variable__formula__symbol svg:nth-child(1) {
    display: none;
}

.svg__switch_variable {
    width: 20px;
    height: 20px;
    fill: #fff;
    cursor: pointer;
}
.svg__switch_variable:hover {
    fill: var(--lines);
}
.variable__name {

}

.varialbe__description {
    color: var(--darkened-text);
    margin-top: 2px;
}

.variable__formula__container {
    border-top: 1px solid;
    border-radius: 3px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.variable__formula {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-radius: 3px;
    padding: 6px;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}

.checkbox__variable_formula {
    display: none;
}
.checkbox__variable_formula:checked ~ .variable__formula__container {
    max-height: 500px;
    opacity: 1;
}
.checkbox__variable_formula:checked ~ .variable__formula__container .variable__formula {
    transform: translateY(0);
}
.checkbox__variable_formula:checked ~ .variable__header .variable__formula__symbol svg:nth-child(1) {
    display: inline;
}
.checkbox__variable_formula:checked ~ .variable__header .variable__formula__symbol svg:nth-child(2) {
    display: none;
}

/*повторение*/
.button__save_1, #variable__checkbox {
    display: none;
}
#variable__checkbox:checked ~ .button__remove, #variable__checkbox:checked ~ .button__change {
  display: none;
}
#variable__checkbox:checked ~ .button__cancle, #variable__checkbox:checked ~ .button__save_1 {
  display: flex;
}

/* new-variables page */
.new_variable__list {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.new_variable__list:last-child {
    border-bottom: 1px solid var(--container-border-1);
}

.new_variable__meaning {
    color: #fff !important;
}

.new_varialbe__tip {
    color: var(--darkened-text);
}

.input__variable {
    font-size: 16px;
    width: fit-content;
    max-width: 100%;
    padding-left: 3px;
}

/* variabple page */
.input__variable_change {
    font-size: 16px;
    width: fit-content;
    max-width: 100%;
    padding-left: 3px;
    border-radius: initial;
}

.variable__container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.variable__row {
    display: flex;
    justify-content: space-between;
    gap: 4px 20px;
}

.variable__column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 1150px) {
    .chart_additional_data {
        bottom: 18px;
        left: 9px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 500px) {
    .strategy__field, .field__new_formula, .strategy__item {
        border-radius: initial;
    }
    .strategy__item {
        width: 100%;
    }
    .field__new_formula {
        padding: 10px 0;
        border-bottom: 1px solid var(--blocked-element);
        max-height: calc(100vh - 255px - 70px);
    }
    .field__new_formula_errors {
        max-height: initial;
    }
}

@media (max-width: 350px) {
    .variable__row {
        flex-direction: column;
    }
    .input__variable_change {
        width: 100%;
    }
}
